.move-text {
  height: 600px;
  width: 75%;
  background-color: #F0F5E1;
  margin: 0 auto;
}

.input-wrapper {
  top: 10px;
  background-color: aqua;
  width: 50%;
  position: relative;
  left: 200px;
}

.text-field {
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  padding: 10px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-field:focus {
  border: 3px solid #415A77;
}

.icon {
  position: absolute;
  right: 20px;
  top: 11px;
}

.input-wrapper2 {
  background-color: aqua;
  width: 50%;
  position: relative;
  margin-top: 30px;
  left: 200px;
}

.text-field2 {
  width: 100%;
  padding: 10px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-field2:focus {
  border: 3px solid #415A77;
}

.icon2 {
  position: absolute;
  right: 20px;
  top: 11px;
}

.input-wrapper3 {
  background-color: #415A77;
  width: 50%;
  position: relative;
  margin-top: 30px;
  left: 200px;
}

.text-field3 {
  width: 100%;
  padding: 10px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-field3:focus {
  border: 3px solid #415A77;
}

.icon3 {
  position: absolute;
  right: 20px;
  top: 11px;
}

.input-wrapper4 {
  background-color: aqua;
  width: 50%;
  position: relative;
  margin-top: 30px;
  left: 200px;
}

.text-field4 {
  width: 100%;
  padding: 10px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-field4:focus {
  border: 3px solid #415A77;
}

.icon4 {
  position: absolute;
  right: 20px;
  top: 11px;
}

.input-wrapper5 {
  background-color: aqua;
  width: 50%;
  position: relative;
  margin-top: 30px;
  left: 200px;
}

.text-field5 {
  width: 100%;
  padding: 10px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-field5:focus {
  border: 2px solid #415A77;
}

.icon5 {
  position: absolute;
  right: 20px;
  top: 11px;
}

.title-wrapper {
  margin: 0 auto;
}

.title-header {
  margin: 0 auto;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
  font-size: 28px;
  left: 150px;
}

.title-border {
  margin: 0 auto;
  border-bottom: 2px solid #000;
  position: absolute;
  width: 8%;
  left: 0px;
  bottom: -3px;
}

nav {
  background-color: #011936;
  width: 75%;
  height: 50px;
  margin: 0 auto;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a {
  margin: 10px;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  width: 75%;
  height: 100px;
  background-color: #011936;
  margin: 0 auto;
  margin-top: 15px;
  color: white;
}

.hero {
  width: 75%;
  height: 200px;
  margin: 0 auto;
  background-image: url("../images/beach.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}