.title {
    height: 100px;
    width: 200px;
    background-color: purple;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
   
}


.title h1{
    align-items: center;
    justify-content: center;
}